#infolocal {
    text-align: center;
}

.prueba {
  display: flex;
justify-content: center;
gap: 90px;
flex-wrap: wrap;
}

.cartita {
    background-color: beige;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 5px;
    text-align: center;
    flex: 1;
    min-width: 250px;
    
    
}

.cartita:hover {
    transform: translateY(-5px);
}

footer {
    text-align: center;
}

.padre-cafes-comida {
    display: flex;
gap: 20px;
}

.cafes, .comidas {
    background-color: beige;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 5px;
    text-align: center;
    flex: 1;
    min-width: 250px;
    
}

.prueba-img {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    width: 150px;
    border-radius: 10px;
    height: 200px;
    flex-shrink: 0;
   padding-left: 450px;

}

.comida-img {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    width: 150px;
    border-radius: 10px;
    height: 200px;
    flex-shrink: 0;
   padding-left: 450px;
}